{% extends 'layout.html' %}

{% block title %}
  Inicio
  {{ super() }}
{% endblock  %}     

{% block content %}

    <h1>Página de Inicio</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages  %}
          {% for elemento in messages %}
            <div class="message alert-success">
              {{elemento}}
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
    
    {%include 'includes/edad.html' %}
    {%include 'includes/personas.html' %}
    

    {# Es un comentario #}
    {# comentario de varias lineas
      {{dato1}}
      {{dato2}}
      {{lista}}
    #}

{% endblock %}

